body {
    background-image: url('img/pexels-belle-co-1000482.jpg';
}
.capa{
    width: 99%;
    height: 350px;
    background-image: url(img/onuenergialimpaeacess.jpg);
    border: 3px solid ;
}
.caixa{
    width: 66%;
    text-align: center;
    border: 2px ;
    font-size: 133%;

}
h2:hover{
    background: yellow;
    width:  111px;
    border: 1px solid blue;
    color: whitesmoke;
}
.posi1{
    margin: auto;
    font-size: 100%;
    position: relative ;
    top: 35px;
    left: 36px;
}
.espaco{
    margin: auto;
    width: max-content;
    float: right;
}
#posi2{
    text-align: center;

    margin: auto;
    font-size: 33px;
    position: relative;
}
.energia{
    margin: auto;
    font-size: 22px;
    position: relative;
}
